<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <title><%= current_page.data.title || "Sileo" %></title>
    
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="offset1 span10">
      <%= image_tag lorem.image('200x150') %>
      <%= link_to "Główna", "/index.html" %>
      <%= link_to "Oferta", "/offer.html" %>
      <%#= link_to "Galeria", "/gallery.html" %>
      <%= link_to "Kontakt", "/contact.html" %>
    </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="offset1 span10">
      <%= yield %>
    </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="offset1 span10">
          <address>
            <strong>Sileo Natalia Woszczek</strong><br>
            <abbr title="Numer Telefonu">Tel:</abbr> (+48) 4534535345<br>
            <abbr title="Adres email">Email:</abbr><a href="mailto:#">sileo@gmail.com</a>
          </address>
        </div>
      </div>
    </div>
  </body>
</html>
