<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title || "Sileo" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="offset1 span1">
      <a href="/index.html"><%= image_tag "sileo_logo_hires.jpg", width: "100", class: "logo"%></a>
      </div>
      <div class="navbar span9">
  <div class="navbar-inner">
    <a class="brand" href="/index.html">SILEO</a>
    <ul class="nav">
      <li><%= link_to "Oferta", "/offer.html" %></li>
      <li><%= link_to "Kontakt", "/contact.html" %></li>
          </ul>
  </div>
</div>
    </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="offset1 span10">
          <hr>
      <%= yield %>
    </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="offset1 span10">
          <hr>
          <address>
            <strong>Sileo Natalia Woszczek</strong><br>
            <abbr title="Numer Telefonu">Tel:</abbr> (+48) 795 886 779<br>
            <abbr title="Adres email">Email:</abbr><a href="mailto:#">sileo@gmail.com</a>
          </address>
        </div>
      </div>
    </div>
  </body>
</html>
