<% w=200 %>
<% h=250 %>
<% ww=850%>
<% hh=600%>
    <div class="media">
      <a class="pull-left" href="/images/offer/offer-1.jpg" data-lightbox="image-art-sign" title="Artystyczne Warsztaty Języka Migowego">
    <%= image_tag "/images/offer/offer-1-thumbnail.jpg", class:"media-object img-polaroid" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Artystyczne Warsztaty Języka Migowego</h4>
    <div class="media">
      <p>￼Czy można wyrazić siebie nie wypowiadając słów? Czy swoje myśli i emocje można
￼przekazać bez znajomości dźwięków? I wreszcie, czy język migowy może być środkiem
￼artystycznego wyrazu?</p>
      <p>Podczas Artystycznych Warsztatów Języka Migowego pokazujemy , że tak.
Warsztaty prowadzone są autorską metodą nauki języka migowego, która polega na
poznawaniu znaków za pomocą ruchu, barwy i dźwięku. Skondensowanie tych elementów
podczas nauki znaków, opartych i budowanych na bazie skojarzeń, pozwala na bardziej
efektywne i trwalsze ich zapamiętanie. W czasie zajęć uczestnicy migają wybrane fragmenty
utworów muzycznych, wykorzystując elementy PJM (Polskiego Języka Migowego) oraz SJM
(Systemu Językowo- Migowego).</p>
                   <p><%= link_to "Zapisz się »", "/contact.html", class: "btn btn-warning"%></p>
      </div>
    </div>
  </div>
  <!-- ----------------------------- -->
      <div class="media">
  <a class="pull-left" href="#">
    <%= image_tag "http://placekitten.com/#{w}/#{h}", class:"media-object img-polaroid" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Kolorowe warsztaty migania dla dzieci</h4>
    <div class="media">
      <p>Podczas Kolorowych Warsztatów Migania dla Dzieci uczymy się wybranych znaków Polskiego Języka Migowego, które wplatane są w zabawy, piosenki i wierszyki. Poprzez wykorzystanie elementów komunikacji niewerbalnej w połączeniu z barwami rozwijamy zmysły dzieci, ich mowę ciała oraz koordynację ruchową. Barwne elementy warsztatów sprzyjają także zapamiętywaniu znaków i pobudzaniu kreatywności.</p>
      <p>Badania naukowe potwierdzają, że warto zachęcać dzieci do nauki zarówno fonicznego jak imigowego sposobu porozumiewania się- pracują wtedy obie półkule mózgowe, co sprawa, że migające maluchy wchodzące w wiek szkolny mają lepsze wyniki w nauce. Synchronizacja pracy półkul zmniejsza ryzyko wystąpienia dysleksji i dysgrafii a także ułatwia opanowywanie przez dzieci języków obcych w przyszłości.</p>
      <p>Język migowy połączony z elementami dramy wspaniale rozwija mowę ciała , nadaje jego samoświadomość, wspomaga koordynację ruchową oraz stymuluje ogólny rozwój dziecka .</p>
                   <p><%= link_to "Zapisz się »", "/contact.html", class: "btn btn-warning"%></p>
      </div>
    </div>
  </div>
  <!-- ----------------------------- -->
        <div class="media">
  <a class="pull-left" href="#">
    <%= image_tag "http://placekitten.com/#{w}/#{h}", class:"media-object img-polaroid" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Moje rączki mówią, mamo!</h4>
    <div class="media">
      <p>Nie możesz się doczekać, kiedy wreszcie usłyszysz upragnione „Mamo”? Chciałabyś, aby Twoje dziecko szybko zaczęło czytać i pisać, a w przyszłości
z łatwością opanowało kolejne języki obce? Chcesz zapewnić swojemu maluchowi kreatywny, wielostronny rozwój już od pierwszych miesięcy jego życia?</p>
      <p>Jeżeli tak, serdecznie zapraszamy Ciebie i Twoją pociechę na warsztaty „Moje rączki mówią, mamo!”, stymulujące komunikację werbalną przy wykorzystaniu języka migowego.</p>
      <p>Zajęcia oparte są na niezwykle skutecznej i atrakcyjnej w formie amerykańskiej
      metodzie Sign2Baby autorstwa doktora Josepha Garcii. Ta innowacyjna metoda polega na łączeniu nauki mówienia z wizualną prezentacją znaków. Jeśli dotychczas wydawało Ci się, że porozumiewanie się za pomocą języka migowego jest przydatne tylko w komunikacji z osobami niesłyszącymi – będziesz zaskoczona. Język gestów stymuluje rozwój wszystkich niemowląt i pozwala na budowanie emocjonalnej więzi rodzica z dzieckiem za pomocą wspólnej, kreatywnej zabawy!</p>
      <p>Nasze warsztaty to sprawdzona metoda na to, aby Twój maluch:</p>
      <ul>
        <li>łatwiej i wcześniej niż rówieśnicy nauczył się komunikowania swoich potrzeb i spostrzeżeń (od ok. 8-9 miesiąca życia)</li>
        <li> szybciej zaczął mówić</li>
        <li> nabył zdolność szybszego i bardziej efektywnego przyswajania języków obcych </li>
        <li> od pierwszych miesięcy ćwiczył swoją mimikę i rozwijał zdolności manualne</li>
        <li> wcześniej niż przeciętnie opanował sztukę czytania i pisania</li>
      </ul>
      <p>Wykorzystywanie języka migowego w komunikacji ze słyszącymi niemowlętami ma ponadto potencjał rozwijania pamięci i koncentracji, stymulowania koordynacji ruchowej, a także wzmacniania więzi emocjonalnej dziecka z rodzicem. Poznawanie świata za pomocą gestów daje również solidną podstawę do nauki języka migowego.</p>
      <p>Autorski program zajęć zakłada poznanie kilkudziesięciu znaków języka migowego, które wplecione są w starannie dobrane piosenki, wierszyki oraz zabawy.</p>
      <p>Na zajęcia zapraszamy Rodziców i ich dzieci od 6 do 16 miesiąca życia.</p>
                   <p><%= link_to "Zapisz się »", "/contact.html", class: "btn btn-warning"%></p>
      </div>
    </div>
  </div>
  <!-- ----------------------------- -->
         <div class="media">
  <a class="pull-left" href="#">
    <%= image_tag "http://placekitten.com/#{w}/#{h}", class:"media-object img-polaroid" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Inkubator kreatywności<br><small>twórcze warsztaty dla firm</small></h4>
    <div class="media">
      <p>Masz poczucie, że Twój zespół proponuje zbyt typowe rozwiązania? Wydaje Ci się, że Ty i Twoi koledzy myślicie według utartych schematów? Masz świetne pomysły, ale nie potrafisz ich forsować? Wszystko, czego potrzebujecie, to pakiet naszych nieszablonowych ćwiczeń, które dadzą Wam okazję do integracji i naładują zespół pozytywną energią!</p>
      <p>Serdecznie zapraszamy do udziału w wyjątkowym treningu kreatywności, przeznaczonym dla pracowników działów marketingu i reklamy – zarówno twórców komunikatów reklamowych jak i menedżerów zarządzających zespołem kreatywnym.</p>
      <p>„Inkubator kreatywności” to między innymi:</p>
      <ul>
        <li>szansa na pobudzenie wyobraźni i uwolnienie kreatywności,</li>
        <li>trening łamania schematów myślowych i poszukiwania nowych rozwiązań,</li>
        <li>ćwiczenie sztuki efektownej prezentacji i obrony własnych pomysłów,</li>
        <li>praca nad umiejętnością skutecznej komunikacji i efektywnej współpracy,</li>
        <li>okazja do odkrycia i nauki pełnego wykorzystywania swojego potencjału,</li>
        <li>solidna dawka twórczej energii i pozytywnej motywacji do działania.</li>
      </ul>
      <p>Warsztaty mają praktyczny charakter – ten intensywny trening elastyczności umysłu składa się wyłącznie z różnorodnych ćwiczeń, opracowanych głównie z myślą o pracownikach sektora marketingu i reklamy.</p>
      <p>O wyjątkowości naszych szkoleń decyduje oryginalny dobór narzędzi i technik treningowych – w naszym autorskim programie warsztatowym wykorzystujemy przede wszystkim twórczą moc gestów - wprowadzając m.in. elementy języka migowego i dramy, a także pobudzamy wyobraźnię w oparciu o techniki improwizacji oraz elementy koncepcji gier symulacyjnych.</p>
                   <p><%= link_to "Zapisz się »", "/contact.html", class: "btn btn-warning"%></p>
      </div>
    </div>
  </div>
  <!-- ----------------------------- -->
  <div class="media">
  <a class="pull-left" href="#">
    <%= image_tag "http://placekitten.com/#{w}/#{h}", class:"media-object img-polaroid" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Kurs Terapii Przez Teatr</h4>
    <div class="media">
      <p>Czujesz, że stosowane przez Ciebie konwencjonalne metody pedagogiczne i psychologiczne nie są wystarczająco skuteczne ? Pracujesz z osobami wymagającymi szczególnego podejścia i rzeczywistej indywidualizacji oddziaływań terapeutycznych ? A może chcesz rozbudzić w podopiecznych kreatywność i pewność siebie?</p>
      <p>Jeśli tak, SILEO zaprasza Cię na Kurs Terapii przez Teatr! Na zajęciach dowiesz się, w jaki sposób techniki teatralne wpływają na :</p>
      <ul>

        <li>Rozwój zdolności, inicjatyw i zainteresowań ,</li>
        <li>Zaspokojenie potrzeb estetycznych, uczuciowych i intelektualnych,</li>
        <li>Rozwój umiejętności współpracy i empatii,</li>
        <li>Podniesienie ogólnego poziomu kulturalnego,</li>
        <li>Kształtowanie smaku artystycznego oraz kultury słowa uczestników terapii.</li>
      </ul>
      <p>Zajęcia mają charakter praktyczny, a ich program obejmuje ::</p>
      <ul>
        <li>Podstawy reżyserii teatralnej,</li>
        <li>tworzenie scen teatralnych,</li>
        <li>pracę z rekwizytem,</li>
        <li>podstawy improwizacji teatralnej,</li>
        <li>pracę z tekstem ( prawidłowa wymowa sceniczna, interpretacja tekstu)</li>
        <li>podstawy tańca i choreoterapii .</li>
        <p>Kurs odbywa się w trybie weekendowym, istnieje jednak możliwość stworzenia
        nowych terminów i ustalenia innego, zgodnego z oczekiwaniami klienta czasu realizacji zajęć. Cykl spotkań obejmuje 40 h.</p>
        <p><%= link_to "Zapisz się »", "/contact.html", class: "btn btn-warning"%></p>
      </div>
    </div>
  </div>
  <!-- ----------------------------- -->
  <div class="media">
  <a class="pull-left" href="#">
    <%= image_tag "http://placekitten.com/#{w}/#{h}", class:"media-object img-polaroid" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Dance TheSign<br><small>warsztaty interpretacji tanecznej z elementami języka migowego</small></h4>
    <div class="media">
      <p>Czy taniec jest dla Ciebie formą wyrażania uczuć i emocji ? Czy chcesz nadać ruchowi głębsze znaczenie i wzbogacić swoje choreografie o dodatkowe, dotychczas niewyrażalne treści ?</p>
      <p>SILEO i Grupa MIGAWKI zapraszają na Warsztaty Interpretacji Tanecznej „Dance TheSign”! Łącząc figury taneczne z elementami języka migowego umożliwiamy głębszą, jeszcze bardziej ekspresyjną interpretację muzyki i tańca. Wybrane znaki języka migowego urozmaicają układy choreograficzne, wzbogacają artystyczny wyraz spektaklu, a także umożliwiają odbiór przekazywanej treści osobom niesłyszącym .</p>
            <p>Warsztaty „Dance TheSign” powstały w wyniku współpracy profesjonalnych tancerzy i choreografów z wykwalifikowanymi tłumaczami języka migowego. W efekcie, na naszych zajęciach układy taneczne stają się czymś więcej niż sekwencją figur tanecznych- każda choreografia przeobraża się w niepowtarzalny spektakl taneczny, który uwalnia zarówno ekspresję tancerzy jak i wyobraźnię odbiorców.</p>
        <p><%= link_to "Zapisz się »", "/contact.html", class: "btn btn-warning"%></p>
      </div>
    </div>
  </div>
  <!-- ----------------------------- -->

